<footer class="footer-block">
  <span class="text">Made with</span>
  <span class="heart">♡</span>
  <span class="text">by</span>
  <a class="twitter" href="https://twitter.com/<%= config.twitter %>"><%= config.twitter %></a>
</footer>
