<header class="header-bar">
  <%- partial('action-button', { type: 'search' }) %>
  <a class="title" href="<%- url_for() %>">MINI<span class="highlight">GAMES</span></a>
  <%- partial('action-button', { type: 'menu' }) %>
</header>
