* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 300;
  background: color-get(darker);
  color: color-get(light);

  ::selection {
    background: color-get(darker);
  }
}

html.-light {
  background: color-get(light);
  color: color-get(darker);

  ::selection {
    background: rgba(0, 0, 0, .1);
  }
}

body {
  margin: 0 auto;
  width: 100rem;
  font-size: 160%;
  background: color-get(darker);
}

html.-light body {
  background: color-get(light);
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  outline: 0;
}

table {
  margin: 0 auto;
}

th {
  font-weight: 700;
}

td {
  padding: 1rem;
  vertical-align: middle;
}
