.filter-bar {
  display: flex;
  justify-content: flex-end;
  margin: 4rem -1rem;
  color: rgba(color-get(light), .25);

  > .link-button {
    margin: 0 1rem;
  }

  > .link-button.-active {
    color: color-get(light);
  }
}
