.grid-layout {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
  background: rgba(0,0,0,.03);

  @for $i from 1 through 6 {
    &.-col#{$i} > * {
      flex: 0 0 100% / $i;
    }

    &.-col#{$i} > *:nth-child(#{$i}n) {
      margin-bottom: 1.5rem;
    }
  }
}

.grid-layout.-fixed {
  justify-content: center;

  > * {
    margin: 0 .75rem;
  }

  > :first-child {
    margin-left: 0;
  }

  > :last-child {
    margin-right: 0;
  }
}
