.post-card {
  ::selection {
    background: rgba(0, 0, 0, .1);
  }

  > .link {
    display: block;
    margin: 2rem;
    border-radius: 4px;
    background: #F7FFF7;
    cursor: pointer;
    transition: background 200ms;
    will-change: background;

    &:hover {
      background: color-get(secondary);
    }

    @include mq-laptop {
      margin: 1rem;
    }
  }

  .header {
    position: relative;
    padding-bottom: 62.38%;
    height: 0;
  }

  .header > .video {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 100%;
    background: #000;
  }

  .body {
    border-radius: 4px 4px 0 0;
    padding: 2rem;
    min-height: 16rem;
    color: color-get(dark);
    transition: color 200ms;
  }

  .link:hover .body {
    color: color-get(light);
  }

  .body > .title {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: color-get(secondary);
    transition: color 200ms;
  }

  .link:hover .body > .title {
    color: color-get(light);
  }

  .body > p {
    line-height: 1.6;
  }

  .footer {
    display: flex;
    margin: 0 -1rem;
    padding: 2rem;
    background: rgba(0, 0, 0, .03);
    color: color-get(dark);
    transition: color 200ms;
  }

  .link:hover .footer {
    color: color-get(light);
  }
}
